body {
    height: 100%;
    margin: 0;
    /* background-color: #dee3e3; */
    background-color: #20272f;
    color: #ffffff;
    font-family: 'Roboto';
}

.navbar {
  color: #dee3e3;
  background-color: #20272f;
}

.navbar-nav {
  float: right;
  padding-right: 1em;
  text-align: right;
}

.navbar-nav > li > a:hover {
  color: #ffffff !important;
}

.dropdown-menu {
  background-color: #dee3e3;
}

.dropdown-item {
  color: #20272f;
}
